aside {
    border-right: 1px solid #c0c0c0;
    width: 280px;
    height: 100%;
    float: left;
    background: #fafafa;
    background: -moz-linear-gradient(left, rgba(250, 250, 250, 1) 0, rgba(235, 235, 235, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(235, 235, 235, 1)));
    background: -webkit-linear-gradient(left, rgba(250, 250, 250, 1) 0, rgba(235, 235, 235, 1) 100%);
    background: -o-linear-gradient(left, rgba(250, 250, 250, 1) 0, rgba(235, 235, 235, 1) 100%);
    background: -ms-linear-gradient(left, rgba(250, 250, 250, 1) 0, rgba(235, 235, 235, 1) 100%);
    background: linear-gradient(left, rgba(250, 250, 250, 1) 0, rgba(235, 235, 235, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ebebeb', GradientType=1)
}


.kol1 {
    width:50%;
    float:left;
    padding-left:10px;	  
}
.kol2 {
    width:30%;
    float:right;
    text-align: right;
    margin-right: 30px;
}

#sidebar_top {
    background-color: #fafafa;
    padding: 10px
}
#sidebar_content {
    width: 100%;
    background: url(../img/sidebar/seperator.png) top right no-repeat
}
#sidebar_content h2 {
    margin-top: 0;
    padding-top: 40px;
    padding-left: 10%
}
#sidebar_content p {
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 0
}
#sidebar_content .divider {
    height: 2px;
    width: 214px;
    background: url(../img/sidebar/divider.png);
    margin: 20px auto
}
aside nav ul.menu {
    margin: 1px auto;
    margin-bottom: 20px;
    background: #f6f6f6;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    width: 200px;
    overflow: hidden
}
aside nav a {
    display: block;
    height: 34px;
    line-height: 34px;
    width: 100%;
    text-indent: 15px;
    background: #f6f6f6;
    border-bottom: 1px solid #cdcdcd;
    -webkit-box-shadow: inset 1px 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 1px 0 #fff;
    box-shadow: inset 1px 1px 1px 0 #fff
}
aside nav ul.menu>li:last-child>a {
    border-bottom: 0
}
aside nav ul.menu>li>a:hover,
aside nav ul.menu>li.current>a:hover {
    background: url(../img/sprites/sidebar-navigation/bg-hover.png);
    box-shadow: none
}
aside nav ul.menu>li.current>a {
    background: url(../img/sprites/sidebar-navigation/bg-active.png)
}
aside nav span.arrow {
    position: relative;
    top: -1px;
    left: 10px
}
aside nav ul.sub {
    display: none
}
aside nav ul.sub a {
    text-indent: 35px
}
aside nav ul.sub a {
    text-shadow: none;
    background: url(../img/sprites/sidebar-navigation/submenu/arrow-normal.png) no-repeat #f6f6f6;
    background-position: 20px 10.5px
}
aside nav ul.sub a:hover {
    background: url(../img/sprites/sidebar-navigation/submenu/arrow-hover.png) no-repeat #f6f6f6;
    background-position: 20px 10.5px
}
aside nav ul.sub a.current {
    background: url(../img/sprites/sidebar-navigation/submenu/arrow-active.png) no-repeat #f6f6f6;
    background-position: 20px 10.5px
}
.userinfo {
    padding: 0 16px
}
.userinfo .info {
    float: left;
    padding: 10px;
    background: url(../img/sprites/userinfo/bg-info.png) repeat-x #e5e5e5;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    -webkit-box-shadow: inset 1px 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 1px 0 #fff;
    box-shadow: inset 1px 1px 1px 0 #fff
}
.userinfo .info-wrap {
    border-radius: 3px;
    overflow: hidden;
    margin-top: 5px
}
.userinfo .avatar {
    border: 1px solid #aaa
}
.userinfo .info a {
    display: block;
    margin-top: 5px;
    padding: 5px;
    background: url(../img/sprites/userinfo/bg-button.png) repeat-x #e2e2e2;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    text-align: center;
    -webkit-box-shadow: inset 1px 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 1px 0 #fff;
    box-shadow: inset 1px 1px 1px 0 #fff
}
.userinfo .info-wrap a {
    margin-top: 0
}
.userinfo .info a:hover {
    background: url(../img/sprites/userinfo/bg-button-active.png) repeat-x #f7f7f7
}
.userinfo .links {
    border-top: 1px solid rgba(0, 0, 0, 0);
    margin-top: 9px;
    list-style: none;
    margin-left: 100px;
    padding-left: 0
}
.userinfo .links li {
    overflow: hidden;
    margin: 10px 0;
    padding: 0 0 10px 10px;
    background: url(../img/sprites/userinfo/links-divider.png) no-repeat bottom left
}